h1 {
    font-family: minecraft;
    text-align: center;
    font-size: 80px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: normal;
}

.button {
    color: black;
    background-color: white;
    font-family: minecraftia;
    border: none;
    margin-right: 3px;
    cursor: pointer;
}

.big {
    font-size: 25px;
}

.small {
font-size: 20px;
}

.button:hover {
    outline: 2px solid #1f1f1f
}

div {
    width: 100%;
    max-width: fit-content;
    margin-inline: auto;
    margin-top: 20px;
}

body {
    background-image: url("background.png");
    background-color: #1f1f1f;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    text-align: center;
    color: white;
    background-color: #000000ab;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-family: minecraftia;
    padding-left: 3px;
    padding-right: 3px;

}

/* .secret {
margin-left: 91%;
margin-top: 17%;
font-size: 70px;
color: transparent;
background-color: transparent;
padding: 30px 30px;
border: none;
} */